@page
@model DeviceSettingsModel
@{
    ViewData["Title"] = "Devices Settings";  
}

<section class="main">
  <link rel="stylesheet" href="~/css/devicesettings.css" />
  <div class="grid-container">
    <div class="Page-name">
      <p id="header">DEVICE SETTINGS</p>
    </div>
    <div class="select">
      <p id="header">Select a player to change the settings</p>
    </div>
    <div class="guns">
      @foreach(var player in Model.CK.wifiHandler.Clients)
      {
        if(player.Client.ConState>=_0.Model.ConnectionState.Online){
        <form method="post">
          <input name="hiddenplayerid" type="hidden" value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(player.Client.LWInv.Items.Find(x=>x.Id==0x14).Value), 0)"/>
          <button class="accordion" type="button">@System.Text.Encoding.UTF8.GetString(player.Client.CKInv.Items[0].Value)</button>
          <div class="panel">
            <div class="row">
              <div class="column" style="background-color:white;">
                <ul class="column1">
                  <li>ID</li>
                  <li>Health points</li>
                  <li>Friendly Fire</li>
                  <li>Shield Duration </li>
                  <li>Shield Cooldown</li> 
                  <li>Invulnerability Duration</li>
                  <li>Regeneration period</li>
                  <li>Autorevival duration</li>
                  <li>Bleeding period</li>
                  <li>Cartridges by Revival</li>
                  <li>"Vampire" Mode</li>
                  <li>Tagger's language</li>
                  <li>Decreasing health period by infection</li>
                  <li>Decreasing health amount by infection</li>
                  <li>Time to die by infection</li>
                  <li>Background Brightness</li>
                  <li>Damaged Glow Color</li>
                </ul>
                <input name="settingssubmit" type="submit" class="apply-btn" onclick="loadingShow(this);" value="APPLY"/>
              </div>
              <div class="column" style="background-color:white;">
                <ul class="column2">
                <li>
                  <select name="playerid" class="player-id"> 
                    @foreach (var value in Model.CK.wifiHandler.LWItemsUsed.Items.Find(x=>x.Id==0x14).AllowedValues)
                    {
                        if(value.SequenceEqual(player.Client.LWInv.Items.Find(x=>x.Id==0x14).Value))
                        {
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }else{
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }
                    }
                  </select>
                </li>
                <li>
                  <select name="health" class="player-health">
                    @foreach (var value in Model.CK.wifiHandler.LWItemsUsed.Items.Find(x=>x.Id==0x16).AllowedValues)
                    {
                        if(value.SequenceEqual(player.Client.LWInv.Items.Find(x=>x.Id==0x16).Value))
                        {
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }else{
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }
                    }
                  </select>
                </li>
                <li>
                  <select name="friendlyfire" class="player-fire">
                    @foreach (var value in Model.CK.wifiHandler.LWItemsUsed.Items.Find(x=>x.Id==0x17).AllowedValues)
                    {
                        if(value.SequenceEqual(player.Client.LWInv.Items.Find(x=>x.Id==0x17).Value))
                        {
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }else{
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }
                    }
                  </select>
                </li>
                <li>
                  <select name="shieldduration" class="player-shock">
                    @foreach (var value in Model.CK.wifiHandler.CKItemsUsed.Items.Find(x=>x.Id==0x02).AllowedValues)
                    {
                        if(value.SequenceEqual(player.Client.CKInv.Items.Find(x=>x.Id==0x02).Value))
                        {
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }else{
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }
                    }
                  </select>
                </li>
                <li>
                  <select name="shieldcooldown" class="player-cooldown">
                    @foreach (var value in Model.CK.wifiHandler.CKItemsUsed.Items.Find(x=>x.Id==0x03).AllowedValues)
                    {
                        if(value.SequenceEqual(player.Client.CKInv.Items.Find(x=>x.Id==0x03).Value))
                        {
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }else{
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }
                    }
                  </select>
                </li>
                <li>
                  <select class="player-invulnerability" disabled>
                    <option value="0.07s" selected>0.07s</option>
                    <option value="0.09s">0.09s</option>
                    <option value="0.1s">0.1s</option>
                  </select>
                </li>
                
                <li>
                  <select class="player-regeneration" disabled>
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                  </select>
                </li>
                <li>
                  <select class="player-autorevival" disabled>
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                  </select>
                </li>
                <li>
                  <select class="bleeding-period" disabled>
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                  </select>
                </li>
                <li>
                  <select class="cartridges-revival" disabled>
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                  </select>
                </li>
                <li>
                  <select class="vampire-mode" disabled>
                    <option value="No" selected>No</option>
                    <option value="Yes">Yes</option>
                  </select>
                </li>
                <li>
                  <select class="taggers-language" disabled>
                    <option value="Language 1" selected>Language 1</option>
                    <option value="Language 2">Language 2</option>
                    <option value="Language 3">Language 3</option>
                    <option value="Language 4">Language 4</option>
                    <option value="Language 5">Language 5</option>
                  </select>
                </li>
                <li>
                  <select class="infection-period" disabled>
                    <option value="30s" selected>30 seconds</option>
                    <option value="45s">45 seconds</option>
                    <option value="1m">1 minute</option>
                    <option value="1.5m">1.30 minutes </option>
                    <option value="2m">2 minutes </option>
                  </select>
                </li>
                <li>
                  <select class="infection-amount" disabled>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                  </select>
                </li>
                <li> 
                  <input type="text" id="timetodie" value="10" disabled>
                </li>
                <li>
                  <select class="background-brightness" disabled>
                    <option value="50" selected>50%</option>
                    <option value="40">40%</option>
                    <option value="30">30%</option>
                    <option value="20">20%</option>
                    <option value="10">10%</option>
                  </select>
                </li>
                <li>
                  <select class="damaged-color" disabled>
                    <option value="red" selected>Red</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                    <option value="pink">Pink</option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="column" style="background-color:white;">
              <ul class="column3">
                <li>Clips</li>
                <li>Cartridges</li>
                <li>Burst</li>
                <li>Fire rate, shots per minute</li>
                <li>Damage</li>
                <li>Reload Duration in seconds</li>
                <li>Autoreload Mode</li>
                <li>Overheating</li>
                <li>Infrared Power in %</li>
                <li>Silencer Mode</li>
                <li>Idle Period</li>
                <li>Vibration Mode</li>
                <li>Screen Mode</li>
                <li>Volume of Shooting</li>
                <li>Volume</li>
                <li>Sensor Mode</li>
                <li>Startup delay in local game</li>
                <li>Save cartridges</li>
                <li>Break Period</li>
                <li>Selector switch operating mode</li>
              </ul>
            </div>
            <div class="column" style="background-color:white;">
              <ul class="column4">
                <li>
                  <select name="clips" class="clips"> 
                    @foreach (var value in Model.CK.wifiHandler.LWItemsUsed.Items.Find(x=>x.Id==0x34).AllowedValues)
                    {
                        if(value.SequenceEqual(player.Client.LWInv.Items.Find(x=>x.Id==0x34).Value))
                        {
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }else{
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }
                    }
                  </select>
                </li>
                <li>
                  <select name="bullets" class="cartridges">
                    @foreach (var value in Model.CK.wifiHandler.LWItemsUsed.Items.Find(x=>x.Id==0x35).AllowedValues)
                    {
                        if(value.SequenceEqual(player.Client.LWInv.Items.Find(x=>x.Id==0x35).Value))
                        {
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }else{
                          <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                        }
                    }
                    </select>
                  </li>
                  <li>
                    <select class="burst" disabled>
                      <option value="Yes" selected>On</option>
                      <option value="No">Off</option>
                    </select>
                  </li>
                  <li>
                    <select class="fire-rate" disabled>
                      <option value="500" selected>500</option>
                      <option value="400">400</option>
                      <option value="300">300</option>
                      <option value="200">200</option>
                      <option value="100">100</option>
                    </select>
                  </li>
                  <li>
                    <select name="damage" class="fire-damage">
                      @foreach (var value in Model.CK.wifiHandler.LWItemsUsed.Items.Find(x=>x.Id==0x38).AllowedValues)
                      {
                          if(value.SequenceEqual(player.Client.LWInv.Items.Find(x=>x.Id==0x38).Value))
                          {
                            <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                          }else{
                            <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                          }
                      }
                    </select>
                  </li>
                  <li>
                    <select name="reloadduration" class="reload-duration">
                      @foreach (var value in Model.CK.wifiHandler.LWItemsUsed.Items.Find(x=>x.Id==0x39).AllowedValues)
                      {
                          if(value.SequenceEqual(player.Client.LWInv.Items.Find(x=>x.Id==0x39).Value))
                          {
                            <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                          }else{
                            <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                          }
                      }
                    </select>
                  </li>
                  <li>
                    <select name="autoreload" class="autoreload-mode">
                      @foreach (var value in Model.CK.wifiHandler.LWItemsUsed.Items.Find(x=>x.Id==0x3a).AllowedValues)
                      {
                          if(value.SequenceEqual(player.Client.LWInv.Items.Find(x=>x.Id==0x3a).Value))
                          {
                            <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)" selected>@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                          }else{
                            <option value="@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)">@BitConverter.ToInt16(Model.CK.ConvertTo4Byte(value), 0)</option>
                          }
                      }
                    </select>
                  </li>
                  <li>
                    <select class="overheating" disabled>
                      <option value="Yes" selected>On</option>
                      <option value="No">Off</option>
                    </select>
                  </li>
                  <li>
                    <select class="infrared-power" disabled>
                      <option value="100" selected>100%</option>
                      <option value="90">90%</option>
                      <option value="80">80%</option>
                      <option value="70">70%</option>
                      <option value="60">60%</option>
                      <option value="50">50%</option>
                      <option value="40">40%</option>
                      <option value="30">30%</option>
                      <option value="20">20%</option>
                      <option value="10">10%</option>    
                      <option value="0">0%</option>
                    </select>
                  </li>
                  <li>
                    <select class="silencer-mode" disabled>
                      <option value="Off" selected>Off</option>
                      <option value="On">On</option>
                    </select>
                  </li>
                  <li>
                    <select class="idle-period" disabled>
                      <option value="01:00:00" selected>01 H : 00 M : 00 S</option>
                      <option value="00:45:00">00 H : 45 M : 00 S</option>
                      <option value="00:30:00">00 H : 30 M : 00 S</option>
                      <option value="00:15:00">00 H : 15 M : 00 S</option>
                      <option value="10:00:00">00 H : 10 M : 00 S</option>
                    </select>
                  </li>
                  <li>
                    <select class="vibration-mode" disabled>
                      <option value="onevents" selected>During Events</option>
                      <option value="Language 2">Normal</option>
                      <option value="Language 3">During DM</option>
                    </select>
                  </li>
                  <li>
                    <select class="screen-mode" disabled>
                      <option value="Yes" selected>On</option>
                      <option value="No">Off</option>
                    </select>
                  </li>
                  <li>
                    <select class="volume-shooting" disabled>
                      <option value="100" selected>100%</option>
                      <option value="90">90%</option>
                      <option value="80">80%</option>
                      <option value="70">70%</option>
                      <option value="60">60%</option>
                      <option value="50">50%</option>
                      <option value="40">40%</option>
                      <option value="30">30%</option>
                      <option value="20">20%</option>
                      <option value="10">10%</option>    
                      <option value="0">0%</option>
                    </select>
                  </li>
                  <li>
                    <select class="volume-main" disabled>
                      <option value="100" selected>100%</option>
                      <option value="90">90%</option>
                      <option value="80">80%</option>
                      <option value="70">70%</option>
                      <option value="60">60%</option>
                      <option value="50">50%</option>
                      <option value="40">40%</option>
                      <option value="30">30%</option>
                      <option value="20">20%</option>
                      <option value="10">10%</option>    
                      <option value="0">0%</option>
                    </select>
                  </li>
                  <li>
                    <select class="sensor-mode" disabled>
                      <option value="break" selected>Break</option>
                      <option value="option2">what </option>
                      <option value="option3">to</option>
                      <option value="option4">place</option>
                      <option value="option5">here?</option>
                    </select>
                  </li>
                  <li>
                    <select class="startup-delay-local-game" disabled>
                      <option value="120s" >120 seconds</option>
                      <option value="90s">90 seconds</option>
                      <option value="60s">60 seconds</option>
                      <option value="40s">40 seconds</option>
                      <option value="30s">30 seconds</option>
                      <option value="20s">20 seconds</option>
                      <option value="15s">15 seconds</option>
                      <option value="10s"selected>10 seconds</option>
                      <option value="05s">05 seconds</option>
                      <option value="off">Off</option>    
                    </select>
                  </li>
                  <li>
                    <select class="save-cartridges" disabled>
                      <option value="Yes" selected>On</option>
                      <option value="No">Off</option>
                    </select>
                  </li>
                  <li>
                    <select class="break-period" disabled>
                      <option value="05s" selected>05 seconds</option>
                      <option value="03s">03 seconds</option>
                      <option value="02s">02 seconds</option>
                      <option value="01s">01 second</option>
                      <option value="off">No break</option>
                    </select>
                  </li>
                  <li>
                    <select class="selector-mode" disabled>
                      <option value="fixed" selected>Fixed</option>
                      <option value="option2">not fixed</option>
                    </select>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
        </form>
        }
      }
 <!--   
<button class="accordion">Player 2</button>
<div class="panel">
   <div class="row">
  <div class="column" style="background-color:white;">
    <ul class="column1">
      <li>ID</li>
      <li>Health points</li>
      <li>Friendly Fire</li>
      <li>Shield Cooldown</li>
      <li>Invulnerability Duration</li>
      <li>Shock Duration </li>
      <li>Regeneration period</li>
      <li>Autorevival duration</li>
      <li>Bleeding period</li>
      <li>Cartridges by Revival</li>
      <li>"Vampire" Mode</li>
      <li>Tagger's language</li>
      <li>Decreasing health period by infection</li>
      <li>Decreasing health amount by infection</li>
      <li>Time to die by infection</li>
      <li>Background Brightness</li>
      <li>Damaged Glow Color</li>
    </ul>

<button type="submit" class="apply-btn">APPLY</button>

  </div>
  <div class="column" style="background-color:white;">
    <ul class="column2">
      <li><select class="player-id"> 
    <option value="1ID" selected>1</option>
    <option value="2ID">2</option>
    <option value="3ID">3</option>
    <option value="4ID">4</option>
    <option value="5ID">5</option>
    <option value="6ID">6</option>
    <option value="7ID">7</option>
    <option value="8ID">8</option>
    <option value="9ID">9</option>
    <option value="10ID">10</option>
    <option value="11ID">11</option>
    <option value="12ID">12</option>
  </select></li>
    <li><select class="player-health">
    <option value="0" selected>100</option>
    <option value="150">150</option>
    <option value="200">200</option>
    <option value="250">250</option>
    <option value="350">350</option>
  </select></li>
  <li><select class="player-fire">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="player-cooldown">
    <option value="1s" selected>1s</option>
    <option value="2s">2s</option>
    <option value="3s">3s</option>
    <option value="4s">4s</option>
    <option value="5s">5s</option>
  </select></li>
  <li><select class="player-invulnerability">
    <option value="0.07s" selected>0.07s</option>
    <option value="0.09s">0.09s</option>
    <option value="0.1s">0.1s</option>
  </select></li>
  <li><select class="player-shock">
    <option value="0.08s" selected>0.08s</option>
    <option value="0.1s">0.1s</option>
    <option value="0.12s">0.12s</option>
  </select></li>
  <li><select class="player-regeneration">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="player-autorevival">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="bleeding-period">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="cartridges-revival">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="vampire-mode">
    <option value="No" selected>No</option>
    <option value="Yes">Yes</option>
  </select></li>
  <li><select class="taggers-language">
    <option value="Language 1" selected>Language 1</option>
    <option value="Language 2">Language 2</option>
    <option value="Language 3">Language 3</option>
    <option value="Language 4">Language 4</option>
    <option value="Language 5">Language 5</option>
  </select></li>
  <li><select class="infection-period">
  <option value="30s" selected>30 seconds</option>
    <option value="45s">45 seconds</option>
    <option value="1m">1 minute</option>
    <option value="1.5m">1.30 minutes </option>
    <option value="2m">2 minutes </option>
  </select></li>
  <li><select class="infection-amount">
    <option value="10" selected>10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select></li>
  <li><input type="text" id="timetodie" value="10"></li>
  <li><select class="background-brightness">
    <option value="50" selected>50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>
  </select></li>
  <li><select class="damaged-color">
    <option value="red" selected>Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="pink">Pink</option>
  </select></li>

    </ul>
  </div>

  <div class="column" style="background-color:white;">
    <ul class="column3">
      <li>Clips</li>
      <li>Cartridges</li>
      <li>Burst</li>
      <li>Fire rate, shots per minute</li>
      <li>Damage</li>
      <li>Reload Duration in seconds</li>
      <li>Autoreload Mode</li>
      <li>Overheating</li>
      <li>Infrared Power in %</li>
      <li>Silencer Mode</li>
      <li>Idle Period</li>
      <li>Vibration Mode</li>
      <li>Screen Mode</li>
      <li>Volume of Shooting</li>
      <li>Volume</li>
      <li>Sensor Mode</li>
      <li>Startup delay in local game</li>
      <li>Save cartridges</li>
      <li>Break Period</li>
      <li>Selector switch operating mode</li>
    </ul>
  </div>
  <div class="column" style="background-color:white;">
    <ul class="column4">
      <li><select class="clips"> 
    <option value="10" selected>10</option> 
    <option value="8">8</option>
    <option value="6">6</option>
    <option value="4">4</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select></li>
    <li><select class="cartridges">
    <option value="30" selected>30</option>
    <option value="40">40</option>
    <option value="50">50</option>
    <option value="60">60</option>
    <option value="80">80</option>
  </select></li>
  <li><select class="burst">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="fire-rate">
    <option value="500" selected>500</option>
    <option value="400">400</option>
    <option value="300">300</option>
    <option value="200">200</option>
    <option value="100">100</option>
  </select></li>
  <li><select class="fire-damage">
    <option value="25" selected>25</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select></li>
  <li><select class="reload-duration">
    <option value="0.3s" selected>0.08s</option>
    <option value="0.1s">0.1s</option>
    <option value="0.2s">0.2s</option>
    <option value="0.4s">0.4s</option>
  </select></li>
  <li><select class="autoreload-mode">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="overheating">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="infrared-power">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="silencer-mode">
    <option value="Off" selected>Off</option>
    <option value="On">On</option>
  </select></li>
  <li><select class="idle-period">
    <option value="01:00:00" selected>01 H : 00 M : 00 S</option>
    <option value="00:45:00">00 H : 45 M : 00 S</option>
    <option value="00:30:00">00 H : 30 M : 00 S</option>
    <option value="00:15:00">00 H : 15 M : 00 S</option>
    <option value="10:00:00">00 H : 10 M : 00 S</option>
  </select></li>
  <li><select class="vibration-mode">
    <option value="onevents" selected>During Events</option>
    <option value="Language 2">Normal</option>
    <option value="Language 3">During DM</option>
  </select></li>
  <li><select class="screen-mode">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="volume-shooting">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="volume-main">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="sensor-mode">
    <option value="break" selected>Break</option>
    <option value="option2">what </option>
    <option value="option3">to</option>
    <option value="option4">place</option>
    <option value="option5">here?</option>
  </select></li>
<li><select class="startup-delay-local-game">
    <option value="120s" >120 seconds</option>
    <option value="90s">90 seconds</option>
    <option value="60s">60 seconds</option>
    <option value="40s">40 seconds</option>
    <option value="30s">30 seconds</option>
    <option value="20s">20 seconds</option>
    <option value="15s">15 seconds</option>
    <option value="10s"selected>10 seconds</option>
    <option value="05s">05 seconds</option>
    <option value="off">Off</option>    
  </select></li>
<li><select class="save-cartridges">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
<li><select class="break-period">
    <option value="05s" selected>05 seconds</option>
    <option value="03s">03 seconds</option>
    <option value="02s">02 seconds</option>
    <option value="01s">01 second</option>
    <option value="off">No break</option>
  </select></li>
<li><select class="selector-mode">
    <option value="fixed" selected>Fixed</option>
    <option value="option2">not fixed</option>
  </select></li>

    </ul>
  </div>
</div>

</div>

<button class="accordion">Player 3</button>
<div class="panel">
   <div class="row">
  <div class="column" style="background-color:white;">
    <ul class="column1">
      <li>ID</li>
      <li>Health points</li>
      <li>Friendly Fire</li>
      <li>Shield Cooldown</li>
      <li>Invulnerability Duration</li>
      <li>Shock Duration </li>
      <li>Regeneration period</li>
      <li>Autorevival duration</li>
      <li>Bleeding period</li>
      <li>Cartridges by Revival</li>
      <li>"Vampire" Mode</li>
      <li>Tagger's language</li>
      <li>Decreasing health period by infection</li>
      <li>Decreasing health amount by infection</li>
      <li>Time to die by infection</li>
      <li>Background Brightness</li>
      <li>Damaged Glow Color</li>
    </ul>

<button type="submit" class="apply-btn">APPLY</button>

  </div>
  <div class="column" style="background-color:white;">
    <ul class="column2">
      <li><select class="player-id"> 
    <option value="1ID" selected>1</option>
    <option value="2ID">2</option>
    <option value="3ID">3</option>
    <option value="4ID">4</option>
    <option value="5ID">5</option>
    <option value="6ID">6</option>
    <option value="7ID">7</option>
    <option value="8ID">8</option>
    <option value="9ID">9</option>
    <option value="10ID">10</option>
    <option value="11ID">11</option>
    <option value="12ID">12</option>
  </select></li>
    <li><select class="player-health">
    <option value="0" selected>100</option>
    <option value="150">150</option>
    <option value="200">200</option>
    <option value="250">250</option>
    <option value="350">350</option>
  </select></li>
  <li><select class="player-fire">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="player-cooldown">
    <option value="1s" selected>1s</option>
    <option value="2s">2s</option>
    <option value="3s">3s</option>
    <option value="4s">4s</option>
    <option value="5s">5s</option>
  </select></li>
  <li><select class="player-invulnerability">
    <option value="0.07s" selected>0.07s</option>
    <option value="0.09s">0.09s</option>
    <option value="0.1s">0.1s</option>
  </select></li>
  <li><select class="player-shock">
    <option value="0.08s" selected>0.08s</option>
    <option value="0.1s">0.1s</option>
    <option value="0.12s">0.12s</option>
  </select></li>
  <li><select class="player-regeneration">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="player-autorevival">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="bleeding-period">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="cartridges-revival">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="vampire-mode">
    <option value="No" selected>No</option>
    <option value="Yes">Yes</option>
  </select></li>
  <li><select class="taggers-language">
    <option value="Language 1" selected>Language 1</option>
    <option value="Language 2">Language 2</option>
    <option value="Language 3">Language 3</option>
    <option value="Language 4">Language 4</option>
    <option value="Language 5">Language 5</option>
  </select></li>
  <li><select class="infection-period">
  <option value="30s" selected>30 seconds</option>
    <option value="45s">45 seconds</option>
    <option value="1m">1 minute</option>
    <option value="1.5m">1.30 minutes </option>
    <option value="2m">2 minutes </option>
  </select></li>
  <li><select class="infection-amount">
    <option value="10" selected>10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select></li>
  <li><input type="text" id="timetodie" value="10"></li>
  <li><select class="background-brightness">
    <option value="50" selected>50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>
  </select></li>
  <li><select class="damaged-color">
    <option value="red" selected>Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="pink">Pink</option>
  </select></li>

    </ul>
  </div>

  <div class="column" style="background-color:white;">
    <ul class="column3">
      <li>Clips</li>
      <li>Cartridges</li>
      <li>Burst</li>
      <li>Fire rate, shots per minute</li>
      <li>Damage</li>
      <li>Reload Duration in seconds</li>
      <li>Autoreload Mode</li>
      <li>Overheating</li>
      <li>Infrared Power in %</li>
      <li>Silencer Mode</li>
      <li>Idle Period</li>
      <li>Vibration Mode</li>
      <li>Screen Mode</li>
      <li>Volume of Shooting</li>
      <li>Volume</li>
      <li>Sensor Mode</li>
      <li>Startup delay in local game</li>
      <li>Save cartridges</li>
      <li>Break Period</li>
      <li>Selector switch operating mode</li>
    </ul>
  </div>
  <div class="column" style="background-color:white;">
    <ul class="column4">
      <li><select class="clips"> 
    <option value="10" selected>10</option> 
    <option value="8">8</option>
    <option value="6">6</option>
    <option value="4">4</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select></li>
    <li><select class="cartridges">
    <option value="30" selected>30</option>
    <option value="40">40</option>
    <option value="50">50</option>
    <option value="60">60</option>
    <option value="80">80</option>
  </select></li>
  <li><select class="burst">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="fire-rate">
    <option value="500" selected>500</option>
    <option value="400">400</option>
    <option value="300">300</option>
    <option value="200">200</option>
    <option value="100">100</option>
  </select></li>
  <li><select class="fire-damage">
    <option value="25" selected>25</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select></li>
  <li><select class="reload-duration">
    <option value="0.3s" selected>0.08s</option>
    <option value="0.1s">0.1s</option>
    <option value="0.2s">0.2s</option>
    <option value="0.4s">0.4s</option>
  </select></li>
  <li><select class="autoreload-mode">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="overheating">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="infrared-power">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="silencer-mode">
    <option value="Off" selected>Off</option>
    <option value="On">On</option>
  </select></li>
  <li><select class="idle-period">
    <option value="01:00:00" selected>01 H : 00 M : 00 S</option>
    <option value="00:45:00">00 H : 45 M : 00 S</option>
    <option value="00:30:00">00 H : 30 M : 00 S</option>
    <option value="00:15:00">00 H : 15 M : 00 S</option>
    <option value="10:00:00">00 H : 10 M : 00 S</option>
  </select></li>
  <li><select class="vibration-mode">
    <option value="onevents" selected>During Events</option>
    <option value="Language 2">Normal</option>
    <option value="Language 3">During DM</option>
  </select></li>
  <li><select class="screen-mode">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="volume-shooting">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="volume-main">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="sensor-mode">
    <option value="break" selected>Break</option>
    <option value="option2">what </option>
    <option value="option3">to</option>
    <option value="option4">place</option>
    <option value="option5">here?</option>
  </select></li>
<li><select class="startup-delay-local-game">
    <option value="120s" >120 seconds</option>
    <option value="90s">90 seconds</option>
    <option value="60s">60 seconds</option>
    <option value="40s">40 seconds</option>
    <option value="30s">30 seconds</option>
    <option value="20s">20 seconds</option>
    <option value="15s">15 seconds</option>
    <option value="10s"selected>10 seconds</option>
    <option value="05s">05 seconds</option>
    <option value="off">Off</option>    
  </select></li>
<li><select class="save-cartridges">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
<li><select class="break-period">
    <option value="05s" selected>05 seconds</option>
    <option value="03s">03 seconds</option>
    <option value="02s">02 seconds</option>
    <option value="01s">01 second</option>
    <option value="off">No break</option>
  </select></li>
<li><select class="selector-mode">
    <option value="fixed" selected>Fixed</option>
    <option value="option2">not fixed</option>
  </select></li>

    </ul>
  </div>
</div>
</div>

<button class="accordion">Player 4</button>
<div class="panel">
   <div class="row">
  <div class="column" style="background-color:white;">
    <ul class="column1">
      <li>ID</li>
      <li>Health points</li>
      <li>Friendly Fire</li>
      <li>Shield Cooldown</li>
      <li>Invulnerability Duration</li>
      <li>Shock Duration </li>
      <li>Regeneration period</li>
      <li>Autorevival duration</li>
      <li>Bleeding period</li>
      <li>Cartridges by Revival</li>
      <li>"Vampire" Mode</li>
      <li>Tagger's language</li>
      <li>Decreasing health period by infection</li>
      <li>Decreasing health amount by infection</li>
      <li>Time to die by infection</li>
      <li>Background Brightness</li>
      <li>Damaged Glow Color</li>
    </ul>

<button type="submit" class="apply-btn">APPLY</button>

  </div>
  <div class="column" style="background-color:white;">
    <ul class="column2">
      <li><select class="player-id"> 
    <option value="1ID" selected>1</option>
    <option value="2ID">2</option>
    <option value="3ID">3</option>
    <option value="4ID">4</option>
    <option value="5ID">5</option>
    <option value="6ID">6</option>
    <option value="7ID">7</option>
    <option value="8ID">8</option>
    <option value="9ID">9</option>
    <option value="10ID">10</option>
    <option value="11ID">11</option>
    <option value="12ID">12</option>
  </select></li>
    <li><select class="player-health">
    <option value="0" selected>100</option>
    <option value="150">150</option>
    <option value="200">200</option>
    <option value="250">250</option>
    <option value="350">350</option>
  </select></li>
  <li><select class="player-fire">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="player-cooldown">
    <option value="1s" selected>1s</option>
    <option value="2s">2s</option>
    <option value="3s">3s</option>
    <option value="4s">4s</option>
    <option value="5s">5s</option>
  </select></li>
  <li><select class="player-invulnerability">
    <option value="0.07s" selected>0.07s</option>
    <option value="0.09s">0.09s</option>
    <option value="0.1s">0.1s</option>
  </select></li>
  <li><select class="player-shock">
    <option value="0.08s" selected>0.08s</option>
    <option value="0.1s">0.1s</option>
    <option value="0.12s">0.12s</option>
  </select></li>
  <li><select class="player-regeneration">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="player-autorevival">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="bleeding-period">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="cartridges-revival">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="vampire-mode">
    <option value="No" selected>No</option>
    <option value="Yes">Yes</option>
  </select></li>
  <li><select class="taggers-language">
    <option value="Language 1" selected>Language 1</option>
    <option value="Language 2">Language 2</option>
    <option value="Language 3">Language 3</option>
    <option value="Language 4">Language 4</option>
    <option value="Language 5">Language 5</option>
  </select></li>
  <li><select class="infection-period">
  <option value="30s" selected>30 seconds</option>
    <option value="45s">45 seconds</option>
    <option value="1m">1 minute</option>
    <option value="1.5m">1.30 minutes </option>
    <option value="2m">2 minutes </option>
  </select></li>
  <li><select class="infection-amount">
    <option value="10" selected>10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select></li>
  <li><input type="text" id="timetodie" value="10"></li>
  <li><select class="background-brightness">
    <option value="50" selected>50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>
  </select></li>
  <li><select class="damaged-color">
    <option value="red" selected>Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="pink">Pink</option>
  </select></li>

    </ul>
  </div>

  <div class="column" style="background-color:white;">
    <ul class="column3">
      <li>Clips</li>
      <li>Cartridges</li>
      <li>Burst</li>
      <li>Fire rate, shots per minute</li>
      <li>Damage</li>
      <li>Reload Duration in seconds</li>
      <li>Autoreload Mode</li>
      <li>Overheating</li>
      <li>Infrared Power in %</li>
      <li>Silencer Mode</li>
      <li>Idle Period</li>
      <li>Vibration Mode</li>
      <li>Screen Mode</li>
      <li>Volume of Shooting</li>
      <li>Volume</li>
      <li>Sensor Mode</li>
      <li>Startup delay in local game</li>
      <li>Save cartridges</li>
      <li>Break Period</li>
      <li>Selector switch operating mode</li>
    </ul>
  </div>
  <div class="column" style="background-color:white;">
    <ul class="column4">
      <li><select class="clips"> 
    <option value="10" selected>10</option> 
    <option value="8">8</option>
    <option value="6">6</option>
    <option value="4">4</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select></li>
    <li><select class="cartridges">
    <option value="30" selected>30</option>
    <option value="40">40</option>
    <option value="50">50</option>
    <option value="60">60</option>
    <option value="80">80</option>
  </select></li>
  <li><select class="burst">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="fire-rate">
    <option value="500" selected>500</option>
    <option value="400">400</option>
    <option value="300">300</option>
    <option value="200">200</option>
    <option value="100">100</option>
  </select></li>
  <li><select class="fire-damage">
    <option value="25" selected>25</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select></li>
  <li><select class="reload-duration">
    <option value="0.3s" selected>0.08s</option>
    <option value="0.1s">0.1s</option>
    <option value="0.2s">0.2s</option>
    <option value="0.4s">0.4s</option>
  </select></li>
  <li><select class="autoreload-mode">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="overheating">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="infrared-power">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="silencer-mode">
    <option value="Off" selected>Off</option>
    <option value="On">On</option>
  </select></li>
  <li><select class="idle-period">
    <option value="01:00:00" selected>01 H : 00 M : 00 S</option>
    <option value="00:45:00">00 H : 45 M : 00 S</option>
    <option value="00:30:00">00 H : 30 M : 00 S</option>
    <option value="00:15:00">00 H : 15 M : 00 S</option>
    <option value="10:00:00">00 H : 10 M : 00 S</option>
  </select></li>
  <li><select class="vibration-mode">
    <option value="onevents" selected>During Events</option>
    <option value="Language 2">Normal</option>
    <option value="Language 3">During DM</option>
  </select></li>
  <li><select class="screen-mode">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="volume-shooting">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="volume-main">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="sensor-mode">
    <option value="break" selected>Break</option>
    <option value="option2">what </option>
    <option value="option3">to</option>
    <option value="option4">place</option>
    <option value="option5">here?</option>
  </select></li>
<li><select class="startup-delay-local-game">
    <option value="120s" >120 seconds</option>
    <option value="90s">90 seconds</option>
    <option value="60s">60 seconds</option>
    <option value="40s">40 seconds</option>
    <option value="30s">30 seconds</option>
    <option value="20s">20 seconds</option>
    <option value="15s">15 seconds</option>
    <option value="10s"selected>10 seconds</option>
    <option value="05s">05 seconds</option>
    <option value="off">Off</option>    
  </select></li>
<li><select class="save-cartridges">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
<li><select class="break-period">
    <option value="05s" selected>05 seconds</option>
    <option value="03s">03 seconds</option>
    <option value="02s">02 seconds</option>
    <option value="01s">01 second</option>
    <option value="off">No break</option>
  </select></li>
<li><select class="selector-mode">
    <option value="fixed" selected>Fixed</option>
    <option value="option2">not fixed</option>
  </select></li>

    </ul>
  </div>
</div>
</div>

<button class="accordion">Player 5</button>
<div class="panel">
   <div class="row">
  <div class="column" style="background-color:white;">
    <ul class="column1">
      <li>ID</li>
      <li>Health points</li>
      <li>Friendly Fire</li>
      <li>Shield Cooldown</li>
      <li>Invulnerability Duration</li>
      <li>Shock Duration </li>
      <li>Regeneration period</li>
      <li>Autorevival duration</li>
      <li>Bleeding period</li>
      <li>Cartridges by Revival</li>
      <li>"Vampire" Mode</li>
      <li>Tagger's language</li>
      <li>Decreasing health period by infection</li>
      <li>Decreasing health amount by infection</li>
      <li>Time to die by infection</li>
      <li>Background Brightness</li>
      <li>Damaged Glow Color</li>
    </ul>

<button type="submit" class="apply-btn">APPLY</button>

  </div>
  <div class="column" style="background-color:white;">
    <ul class="column2">
      <li><select class="player-id"> 
    <option value="1ID" selected>1</option>
    <option value="2ID">2</option>
    <option value="3ID">3</option>
    <option value="4ID">4</option>
    <option value="5ID">5</option>
    <option value="6ID">6</option>
    <option value="7ID">7</option>
    <option value="8ID">8</option>
    <option value="9ID">9</option>
    <option value="10ID">10</option>
    <option value="11ID">11</option>
    <option value="12ID">12</option>
  </select></li>
    <li><select class="player-health">
    <option value="0" selected>100</option>
    <option value="150">150</option>
    <option value="200">200</option>
    <option value="250">250</option>
    <option value="350">350</option>
  </select></li>
  <li><select class="player-fire">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="player-cooldown">
    <option value="1s" selected>1s</option>
    <option value="2s">2s</option>
    <option value="3s">3s</option>
    <option value="4s">4s</option>
    <option value="5s">5s</option>
  </select></li>
  <li><select class="player-invulnerability">
    <option value="0.07s" selected>0.07s</option>
    <option value="0.09s">0.09s</option>
    <option value="0.1s">0.1s</option>
  </select></li>
  <li><select class="player-shock">
    <option value="0.08s" selected>0.08s</option>
    <option value="0.1s">0.1s</option>
    <option value="0.12s">0.12s</option>
  </select></li>
  <li><select class="player-regeneration">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="player-autorevival">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="bleeding-period">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="cartridges-revival">
    <option value="Yes" selected>Yes</option>
    <option value="No">No</option>
  </select></li>
  <li><select class="vampire-mode">
    <option value="No" selected>No</option>
    <option value="Yes">Yes</option>
  </select></li>
  <li><select class="taggers-language">
    <option value="Language 1" selected>Language 1</option>
    <option value="Language 2">Language 2</option>
    <option value="Language 3">Language 3</option>
    <option value="Language 4">Language 4</option>
    <option value="Language 5">Language 5</option>
  </select></li>
  <li><select class="infection-period">
  <option value="30s" selected>30 seconds</option>
    <option value="45s">45 seconds</option>
    <option value="1m">1 minute</option>
    <option value="1.5m">1.30 minutes </option>
    <option value="2m">2 minutes </option>
  </select></li>
  <li><select class="infection-amount">
    <option value="10" selected>10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select></li>
  <li><input type="text" id="timetodie" value="10"></li>
  <li><select class="background-brightness">
    <option value="50" selected>50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>
  </select></li>
  <li><select class="damaged-color">
    <option value="red" selected>Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="yellow">Yellow</option>
    <option value="pink">Pink</option>
  </select></li>

    </ul>
  </div>

  <div class="column" style="background-color:white;">
    <ul class="column3">
      <li>Clips</li>
      <li>Cartridges</li>
      <li>Burst</li>
      <li>Fire rate, shots per minute</li>
      <li>Damage</li>
      <li>Reload Duration in seconds</li>
      <li>Autoreload Mode</li>
      <li>Overheating</li>
      <li>Infrared Power in %</li>
      <li>Silencer Mode</li>
      <li>Idle Period</li>
      <li>Vibration Mode</li>
      <li>Screen Mode</li>
      <li>Volume of Shooting</li>
      <li>Volume</li>
      <li>Sensor Mode</li>
      <li>Startup delay in local game</li>
      <li>Save cartridges</li>
      <li>Break Period</li>
      <li>Selector switch operating mode</li>
    </ul>
  </div>
  <div class="column" style="background-color:white;">
    <ul class="column4">
      <li><select class="clips"> 
    <option value="10" selected>10</option> 
    <option value="8">8</option>
    <option value="6">6</option>
    <option value="4">4</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select></li>
    <li><select class="cartridges">
    <option value="30" selected>30</option>
    <option value="40">40</option>
    <option value="50">50</option>
    <option value="60">60</option>
    <option value="80">80</option>
  </select></li>
  <li><select class="burst">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="fire-rate">
    <option value="500" selected>500</option>
    <option value="400">400</option>
    <option value="300">300</option>
    <option value="200">200</option>
    <option value="100">100</option>
  </select></li>
  <li><select class="fire-damage">
    <option value="25" selected>25</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select></li>
  <li><select class="reload-duration">
    <option value="0.3s" selected>0.08s</option>
    <option value="0.1s">0.1s</option>
    <option value="0.2s">0.2s</option>
    <option value="0.4s">0.4s</option>
  </select></li>
  <li><select class="autoreload-mode">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="overheating">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="infrared-power">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="silencer-mode">
    <option value="Off" selected>Off</option>
    <option value="On">On</option>
  </select></li>
  <li><select class="idle-period">
    <option value="01:00:00" selected>01 H : 00 M : 00 S</option>
    <option value="00:45:00">00 H : 45 M : 00 S</option>
    <option value="00:30:00">00 H : 30 M : 00 S</option>
    <option value="00:15:00">00 H : 15 M : 00 S</option>
    <option value="10:00:00">00 H : 10 M : 00 S</option>
  </select></li>
  <li><select class="vibration-mode">
    <option value="onevents" selected>During Events</option>
    <option value="Language 2">Normal</option>
    <option value="Language 3">During DM</option>
  </select></li>
  <li><select class="screen-mode">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
  <li><select class="volume-shooting">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="volume-main">
    <option value="100" selected>100%</option>
    <option value="90">90%</option>
    <option value="80">80%</option>
    <option value="70">70%</option>
    <option value="60">60%</option>
    <option value="50">50%</option>
    <option value="40">40%</option>
    <option value="30">30%</option>
    <option value="20">20%</option>
    <option value="10">10%</option>    
    <option value="0">0%</option>
  </select></li>
  <li><select class="sensor-mode">
    <option value="break" selected>Break</option>
    <option value="option2">what </option>
    <option value="option3">to</option>
    <option value="option4">place</option>
    <option value="option5">here?</option>
  </select></li>
<li><select class="startup-delay-local-game">
    <option value="120s" >120 seconds</option>
    <option value="90s">90 seconds</option>
    <option value="60s">60 seconds</option>
    <option value="40s">40 seconds</option>
    <option value="30s">30 seconds</option>
    <option value="20s">20 seconds</option>
    <option value="15s">15 seconds</option>
    <option value="10s"selected>10 seconds</option>
    <option value="05s">05 seconds</option>
    <option value="off">Off</option>    
  </select></li>
<li><select class="save-cartridges">
    <option value="Yes" selected>On</option>
    <option value="No">Off</option>
  </select></li>
<li><select class="break-period">
    <option value="05s" selected>05 seconds</option>
    <option value="03s">03 seconds</option>
    <option value="02s">02 seconds</option>
    <option value="01s">01 second</option>
    <option value="off">No break</option>
  </select></li>
<li><select class="selector-mode">
    <option value="fixed" selected>Fixed</option>
    <option value="option2">not fixed</option>
  </select></li>

    </ul>
  </div>
 
</div> -->
</div>




</div>  
</section>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  var btns = document.querySelector(".settingssubmit");
  function loadingShow(thisfield){
    thisfield.value = "Loading";
    countDownInterval = setInterval(() => {
      dotter(thisfield);
    }, 200);
  }
  function dotter(thisfield){
    thisfield.value = thisfield.value + ".";
  }
</script>