@page
@model GameSettingsModel
@{
    ViewData["Title"] = "Game Settings";
}
<section class="main">
<div class="grid-container">
  <div class="Page-name"><p id="header">GAME SETTINGS</p></div>
  <div class="Team-x">
    <label for="teamx"></label>
  <input type="text" id="teamx" name="team-name" value="Team-1">
  </div>
  <div class="Team-y">
        <label for="teamy"></label>
  <input type="text" id="teamy" name="team-name" value="Team-2">
  </div>
  <div class="Teamx-players">
    <ul class="playerslist">
      @foreach (var player in Model.CK.ActiveGame.Gamemode.Teams[0].Players)
      {
        <li>
          @player.Client.CKInv.Items[0].ToString()
          <select>
            <option>@Model.CK.ActiveGame.Gamemode.Teams[0].Name</option>
            <option>@Model.CK.ActiveGame.Gamemode.Teams[1].Name</option>
            <option>Back to Available Players</option>
          </select>
          </li>
      }
    </ul>
  </div>
  <div class="Teamy-players">
    <ul class="playerslist">
      @foreach (var player in Model.CK.ActiveGame.Gamemode.Teams[1].Players)
      {
        <li>
          @player.Client.CKInv.Items[0].ToString()
          <select>
            <option>@Model.CK.ActiveGame.Gamemode.Teams[1].Name</option>
            <option>@Model.CK.ActiveGame.Gamemode.Teams[0].Name</option>
            <option>Back to Available Players</option>
          </select>
          </li>
      }
    </ul>
  </div>
  <div class="Script-name">
<label for="scripts" id="script">Game script</label>
<br>
<select id="scripts">
  <option value="team-reacing" selected>@Model.CK.ActiveGame.GamemodeList[0].Name</option>
  <option value="/DM">@Model.CK.ActiveGame.GamemodeList[1].Name</option>
</select>
  </div>
  <div class="players"><label id="script">Available players</label></div>
  <div class="AVPLAYERS">
    <ul class="playerslist">
      @foreach (var player in Model.CK.ActiveGame.AvailPlayers)
      {
        <li>
          @player.Client.CKInv.Items[0].ToString()
          <select class="teamselect">
            <option>Back to Available Players</option>
            <option>@Model.CK.ActiveGame.Gamemode.Teams[0].Name</option>
            <option>@Model.CK.ActiveGame.Gamemode.Teams[1].Name</option>
          </select>
          <asp:DropDownList ID="teamselect" runat="server" AutoPostBack="True" onselectedindexchanged="TeamSelect">
            <asp:ListItem>Back to Available Players</asp:ListItem>
            <asp:ListItem value="1 1 1">@Model.CK.ActiveGame.Gamemode.Teams[0].Name</asp:ListItem>
            <asp:ListItem value="2">@Model.CK.ActiveGame.Gamemode.Teams[1].Name</asp:ListItem>
          </asp:DropDownList>

        </li>
      }
      <li>Player 1 <select class="teamselect"><option value="none" selected>Select team</option><option value="Team-1">Team 1</option><option value="Team-2">Team 2</option></select></li>
    </ul>
  </div>
  <div class="Timer">
        <div class="container">
    <!-- form -->
    <form class="form">
      <!-- countdown time input field -->
      <input type="number" min="1" class="time-input" placeholder="Enter Game duration">
      <!-- options --> <!-- hours and seconds removed and are here  <option value="hours">Hours</option>         <option value="seconds">Seconds</option> -->
      <select name="format">
        <option value="minutes">Minutes</option>
      </select>
      <!-- submit button or set button -->
      <button type="submit" class="set-btn">SET</button>
    </form>
    <!-- countdown text -->
    <p class="countdown">00 : 00 : 00</p>

    <!-- buttons -->
    <div class="buttons">
      <button class="stop-btn" disabled>STOP</button>
      <button class="reset-btn" disabled>RESET</button>
    </div>
  </div>
  </div>
</div>
</section>